<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>


<!-- 해더 css -->
<th:block th:fragment="headerCss">


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<script src="http://code.jquery.com/jquery-latest.js"></script>

<script>


var id;
var websocket;
var wsUri = "ws://localhost:8090/alram";
  
function send_message() {
	 
	 if(id != 'empty'){
   	     websocket = new WebSocket(wsUri);
   	    websocket.onopen = function(evt) {
        	     onOpen(evt);
    	     };
 	        websocket.onmessage = function(evt) {
        	     onMessage(evt);
    	     };
 	        websocket.onerror = function(evt) {
        	     onError(evt);
    	     };
	 }
		 
}
 // 메시지에 id값을 실어 서버로 전송
 function onOpen(evt) {
	 websocket.send(id); 
}
 
 // 전송한 id를 토대로 카운트값을 가져온다
 function onMessage(evt) {
	 //var mypagenavi = document.getElementById("mypageNavi");
	 var mypagenavi = $("#mypageNavi");
	 var tag ="";
		 tag += "<a href='/myPage.do' class='nav-link'>마이페이지&nbsp;<i class='fas fa-user-tie'></i>";
		  tag +="<span class='badge rounded-pill bg-danger' style='color:white'>"+evt.data+"</span> </a>";
	 mypagenavi.html(tag);
	 
	 var messageTap = $("#messageTap");
	 if(messageTap !=null){
		 
		 var messageTag ="";
		 messageTag += "<i class='far fa-bell'></i> &nbsp;메시지";
		 messageTag +="<span class='badge rounded-pill bg-danger' style='color:white'>"+evt.data+"</span> </a>";
		 messageTap.html(messageTag);
	 }
}
 
function onError(evt) {
}

$(document).ready(function(){
	 id =document.getElementById("userSessionCheck").value;
     send_message();
});

</script>
</th:block>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>



<th:block th:fragment="header">



<div>
<input th:if="${session.USER !=null}" type="hidden" name="userSessionCheck" id="userSessionCheck" th:value="${session.USER.id}">
<input th:if="${session.USER ==null}" type="hidden" name="userSessionCheck" id="userSessionCheck" value="empty">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/main.do"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/main.do">Home <span class="sr-only">(current)</span></a>
      
      <a class="nav-item nav-link" href="#">인재</a>
      <a class="nav-item nav-link" href="#">기업</a>
      <a class="nav-item nav-link" href="#">서울시</a>
    </div>
  </div>
		  <ul class="nav justify-content-end">
		  <li th:if="${session.USER==null}" class="nav-item">
		    <a id="loginHeader" class="nav-link active" href="/loginForm.do">로그인</a>
		  </li>
		  <li th:if="${session.USER==null}" class="nav-item">
		    <a id="joinHeader" class="nav-link" href="/chooseJoinType.do">회원가입</a>
		  </li>
		  <li th:if="${session.USER!=null}" class="nav-item" id=""><a href="/logOutUser.do" class="nav-link">logout</a>
		     </li>
		     
		   <li th:if="${session.USER!=null && session.USER.autho=='USER'}" class="nav-item" id="mypageNavi">
		   <a href="/myPage.do" class="nav-link">마이페이지&nbsp;<i class='fas fa-user-tie'></i>
		   </a>
		     </li>
		     
		     <li th:if="${session.USER!=null && session.USER.autho=='COMPANY'}" class="nav-item" id="">
		     <a href="/hirePage.do" class="nav-link">기업페이지&nbsp;<i class='fas fa-user-tie'></i></a>
		     </li>
		</ul>
</nav>
</div>




</th:block>


</body>
</html>

