<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>


<!-- 해더 css -->
<th:block th:fragment="headerCss">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>


<script src="http://code.jquery.com/jquery-latest.js"></script>

</th:block>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<th:block th:fragment="header">


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/main.do"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/main.do">Home <span class="sr-only">(current)</span></a>
      <!-- <a class="nav-item nav-link" href="/addConfidence.do">등록</a> -->
      
      <a th:if="${session.USER!=null&&session.USER.autho=='USER'}"class="nav-item nav-link" href="/ResiResume.do">이력서 등록</a>
      <a th:if="${session.USER!=null&&session.USER.autho=='COMPANY'}"class="nav-item nav-link" href="/addConfidence.do">채용공고 등록</a>
    </div>
  </div>
		  <ul class="nav justify-content-end">
		  <li th:if="${session.USER==null}" class="nav-item">
		    <a id="loginHeader" class="nav-link active" href="/loginForm.do">로그인</a>
		  </li>
		  <li th:if="${session.USER==null}" class="nav-item">
		    <a id="joinHeader" class="nav-link" href="/chooseJoinType.do">회원가입</a>
		  </li>
		  <li th:if="${session.USER!=null}" class="nav-item" id=""><a href="/logOutUser.do" class="nav-link">logout</a>
		     </li>
		   <li th:if="${session.USER!=null}" class="nav-item" id=""><a href="#" class="nav-link">마이페이지</a>
		     </li>
		</ul>
</nav>


</th:block>


</body>
</html>

