<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>

<!-- 해더 css -->
<th:block th:replace="common/header :: headerCss"></th:block>


<style>

#profileBox{
border-style:solid;border-radius: 25px;border-color:gray;
    border-top-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-right-width: thin;
    padding-bottom: 4%;
   
}
</style>

<meta charset="UTF-8">
<title>왼쪽 사이드바</title>
</head>
<body>

<th:block th:fragment="side">

<div class="container">
  <div class="row">
  
	<div align="center" id="profileBox">
	
	<img th:if="${userDetail.user_profile == null}" src="/image/person.png" width="130px" height="130px"style="border-radius: 70%">
	<img th:if="${userDetail.user_profile != null}" th:src="|/user/${userDetail.user_profile}" width="130px" style="border-radius: 70%">
	<p> <strong><span th:text="${userDetail.user_name}"></span></strong>님</p>
	 <button onclick="changeImage()">수정</button>
	<i class="fas fa-cogs"></i>
	</div>
	<hr>
	

 </div>
 <br><br>
 <div class="row">
 <div>
	<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="resumeMenu" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">이력서 관리</a>
  <a class="nav-link" id="1" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">제안서 관리</a>
  <a class="nav-link" id="1" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">파일 관리</a>
  <a class="nav-link" id="2" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">나의 알림</a>
  <a class="nav-link" id="3" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">면접 관리</a>
  <a class="nav-link" id="3" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">개인 정보</a>
	</div>
	</div>
 </div>
 
</div>


</th:block>

</body>

<script>

</script>
</html>