<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="myPage">
	
	<select id="selectResume" parameterType="pagingVo" resultType="resumeVo">
		select R1.*
		   from
			     (select *
			    from resume
			    where id=#{id}
			    order by resume_id asc
			    )R1
		    limit #{limit} offset #{offset}
		    
	</select>
	
	
	<select id="selectApplyListById" parameterType="int" resultType="applyVo">
	  SELECT A.*,M.*
   		from (	SELECT a.apply_id,a.resume_id,a.media_id,a.apply_result,a.apply_date,a.id,a.hire_id,
			r.resume_title,rd.resume_profile,
			rd.resume_name,rd.resume_gender
	FROM apply_information a,resume r,resume_detail rd
	WHERE a.resume_id =r.resume_id
	AND r.resume_id=rd.resume_id
	and a.hire_id =#{hire_id})
	 A LEFT OUTER JOIN user_media_intro M ON A.media_id = M.media_id
	</select>
	
	<select id="selectAlramCount" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM message
		WHERE message_receiver= #{id}
		AND message_check ='N'
	</select>
	
	<select id="selectMedia" resultType="mediaVo" parameterType="int">
	SELECT *
	FROM user_media_intro
	WHERE media_id =#{media_id}
	</select>
	
	<select id="selectMediaList" parameterType="int" resultType="mediaVo">
	 select *
	 from user_media_intro
	 where id=#{id}
	</select>
	
	
	<select id="selectFileList" parameterType="int" resultType="portfolioFileVo">
		select R1.*
		   from
			     (select *
			    from user_portfolio_file
			    where id=#{id}
			    order by file_id asc
			    )R1
		    limit 8 offset 0
	</select>
	
	<insert id="insertFileUserFile" parameterType="portfolioFileVo">
	   insert into user_portfolio_file
	   (
	   id,
	   file_original_name,
	   file_saved_name
	   )
	   values
	   (
	   #{id},
	   #{file_original_name},
	   #{file_saved_name}
	   )
	 
	</insert>
	
	<delete id="deleteFileUserFile" parameterType="portfolioFileVo">
	  delete from user_portfolio_file
	  where file_id =#{file_id}
	   
	</delete>
	
	<update id="modResumeState" parameterType="resumeVo">
	  update resume
	  set resume_state =#{resume_state}
	  where resume_id =#{resume_id}
	</update>
	
	<select id="totalUserResume" resultType="int" parameterType="int">
	   select count(*)
	   from resume
	   where id=#{id}
	</select>
	
	
	<delete id="deleteResume" parameterType="int">
	  delete from resume
	  where resume_id=#{resume_id}
	</delete>
	
	
	<insert id="insertMedia" parameterType="mediaVo">
	
	insert into user_media_intro
	(
	 id,
	 media_original,
	 media_saved,
	 media_update
	)
	values
	(
	#{id},
	#{media_original},
	#{media_saved},
	NOW()
	)
	</insert>
	
	
	<select id="totalUserMessage" resultType="int" parameterType="int">
	 SELECT count(*)
	FROM message
	WHERE message_receiver =#{id}
	</select>
	
	<select id="selectMessageList" parameterType="pagingVo" resultType="messageVo">
	 			SELECT A.*
			    from(select 
			    		m.message_id,
			    		m.message_title,
			    		m.id,
			    		m.message_receiver,
			    		m.message_check,
			    		m.message_content,
			    		m.message_date,
			    		u.user_id,
			    		u.user_name,
			    		u.user_email,
			    		u.autho,
			    		u.joinDate
			    from message m,users u
			    WHERE m.id =u.id
				 AND  m.message_receiver = #{id}
			    order BY m.message_date desc
			    ) A
		    limit #{limit} offset #{offset}
	</select>
	
	
	<update id="updateMessageCheck" parameterType="int">
	UPDATE message
	SET message_check ='Y'
	WHERE message_receiver= #{id}
	</update>
	
	<insert id="insertMessage" parameterType="messageVo">
	insert into message
	(
	id,
	message_receiver,
	message_check,
	message_content,
	message_date,
	message_title
	)
	values
	(
	#{id},
	#{message_receiver},
	'N',
	#{message_content},
	NOW(),
	#{message_title}
	)
	</insert>
	
	<select id="applyTotal" parameterType="int" resultType="int">
		SELECT count(*)
		FROM apply_information a, hire h , resume r
		WHERE a.hire_id =h.hire_id
		AND a.resume_id=r.resume_id
		AND a.id= #{id}
	</select>
	
	<select id="selectApplyListByPaging" parameterType="pagingVo" resultType="applyVo">
	SELECT A.*
			    FROM (
					SELECT a.hire_id,a.apply_id,a.id,a.resume_id,a.apply_result,a.apply_date,
							h.hire_open,h.hire_condition,h.hire_educate,h.hire_state,h.hire_title,hi.hire_apply_time,
							r.resume_title,r.resume_state
					FROM apply_information a, hire h , resume r,hire_apply hi
					WHERE a.hire_id =h.hire_id
					AND a.resume_id=r.resume_id
					AND h.hire_id=hi.hire_id
					AND a.id= #{id}
					order by a.apply_date desc
			    ) A
		    limit #{limit} offset #{offset}
	</select>
	
</mapper>