<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="resume">
	
	<select id="selectDefualtInfoById" parameterType="int" resultType="userVo">
	  	SELECT *
		FROM users_detail d,users u
		WHERE d.id=u.id
		AND d.id=#{id}
	</select>
    
    <!-- 인적사항 insert -->
    <insert id="insertResumeDetail" parameterType="resumeVo" useGeneratedKeys="true" keyProperty="resume_id">
      INSERT INTO resume
       (id,
       resume_title,
       resume_state)
      VALUES (#{id},#{resume_title},#{resume_state})
	</insert>
	
	<!-- 학력 insert -->
	<insert id="insertResumeEducate" parameterType="List">
	  INSERT INTO resume_educate
	  (resume_id,
	  resume_ed_type,
	  resume_ed_school,
	  resume_ed_start,
	  resume_ed_end,
	  resume_ed_Gstate,
	  resume_ed_major,
	  resume_ed_score)
	  VALUES
	  <foreach collection="list" item="vo" separator=",">
	     (#{vo.resume_id},
	     #{vo.resume_ed_type},
	     #{vo.resume_ed_school},
	     #{vo.resume_ed_start},
	     #{vo.resume_ed_end},
	      #{vo.resume_ed_Gstate},
	      #{vo.resume_ed_major},
	      #{vo.resume_ed_score}) 
	  </foreach>
	</insert>




<!-- 경력 insert -->
	<insert id="insertResumeExperience" parameterType="List">
	  INSERT INTO resume_experience
	  (resume_id,
	  resume_ex_company,
	  resume_ex_job,
	  resume_ex_jobType,
	  resume_ex_content,
	  resume_ex_start,
	  resume_ex_end,
	  resume_ex_salary)
	  VALUES
	  <foreach collection="list" item="vo" separator=",">
	     (#{vo.resume_id},
	     #{vo.resume_ex_company},
	     #{vo.resume_ex_job},
	     #{vo.resume_ex_jobType},
	     #{vo.resume_ex_content},
	     #{vo.resume_ex_start},
	      #{vo.resume_ex_end},
	      #{vo.resume_ex_salary}) 
	  </foreach>
	</insert>
</mapper>