<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="resume">
	
	<select id="selectDefualtInfoById" parameterType="int" resultType="userVo">
	  	SELECT *
		FROM users_detail d,users u
		WHERE d.id=u.id
		AND d.id=#{id}
	</select>
    
    <!-- 인적사항 insert -->
    <insert id="insertResumeDetail" parameterType="resumeVo" useGeneratedKeys="true" keyProperty="resume_id">
      INSERT INTO resume
       (id,
       resume_title,
       resume_state)
      VALUES (#{id},#{resume_title},#{resume_state})
	</insert>

</mapper>