<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="user">
	
	<select id="selectUser" resultType="userVo" parameterType="userVo">
		SELECT *
		 FROM users
		 where user_id=#{user_id}
	</select>
	
	<select id="sickJobList" resultType="resumeVo">
		SELECT *
		FROM resume r, resume_detail d
        WHERE r.resume_id=d.resume_id
		AND r.resume_state = 'Y'
		ORDER BY r.resume_update
		LIMIT 9 OFFSET 0
	</select>
	
	<select id="selectUserWithDetail" resultType="userVo" parameterType="userVo">
		SELECT *
		 FROM users u
		    <choose>
		       <when test="autho=='USER'">
		            ,users_detail ud
		       </when>
		    <when test="autho=='COMPANY'">
		            ,user_company_detail ud
		       </when>
		    </choose>
		 	where u.id=ud.id
		    and u.id=#{id}
	</select>
	
	<select id="all" resultType="map">
	SELECT * FROM boards
	</select>
      
       <select id="selectUserById" parameterType="String" resultType="userVo">
        select *
        from users
        where user_id=#{user_id}
       </select>


	<insert id="userJoin" parameterType="userVo" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO users (user_id,user_name,user_email,user_password,autho,joinDate)
      VALUES (#{user_id}, #{user_name}, #{user_email}, #{user_password}, #{autho}, NOW())
	</insert>

    <insert id="inserUserDetail" parameterType="userVo">
        INSERT INTO users_detail(
        id,
        user_phone,
        user_age,
        user_gender,
        user_zip,
        user_address1,
        user_address2,
        user_profile
        )
        VALUES(#{id},#{user_phone},#{user_age},#{user_gender},#{user_zip},#{user_address1},#{user_address2},#{user_profile})
    </insert>
    
    <insert id="insertCompanyDetail" parameterType="userVo">
        INSERT INTO user_company_detail(
        id,
        company_logo,
        company_intro,
       	company_owner,
       	company_name,
       	company_homepage,
       	company_address1,
       	company_address2,
       	company_zip,
       	company_startDay,
       	company_sales,
       	company_people,
       	company_money
        )
        VALUES(
        #{id},#{company_logo},#{company_intro},#{company_owner},#{company_name},
        #{company_homepage},#{company_address1},#{company_address2},#{company_zip},
        #{company_startDay},#{company_sales},#{company_people},#{company_money}
        )
    </insert>
    
    
    <insert id="insertApply" parameterType="applyVo">
      
      insert into apply_information
      (
      id,
      hire_id,
      resume_id,
      apply_result,
      apply_date
      )
      values
      (
      #{id},
      #{hire_id},
      #{resume_id},
      '대기',
      NOW()
      )
    </insert>
    

	<select id="checkApplyInfo" parameterType="applyVo" resultType="int">
		SELECT COUNT(*)
		FROM apply_information
		WHERE id=#{id}
		AND hire_id= #{hire_id}
	</select>
	
	<select id="applyTotal" parameterType="int" resultType="int">
	  	SELECT COUNT(DISTINCT id)
		FROM apply_information
		WHERE hire_id=#{hire_id}
	</select>

</mapper>