<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>

<!-- 해더 css -->
<th:block th:replace="common/header :: headerCss"></th:block>

<style>
.hiredetialBox {
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	border-top: 1px;
	border-color: #d9dfeb;
	padding: 3%;
	border-style: solid;
	position: fixed;
}
#hireTable {
	border: none
}

#numbering{
 background-color: gray;
 border-radius: 75px;
 width: 20px;
 text-align: center;
 color:white;
}
</style>

<meta charset="UTF-8">
<title>회사 페이지</title>
</head>
<body>
	<!-- 해더 공통 -->
	<th:block th:replace="common/header :: header"></th:block>


	<div class="container">
		<div class="row">

			<!-- 메인 -->
			<div class="col-9">
				<br>
				<h5 th:text="${hireDetail.hireVo.hire_title}"></h5>
				<br>
				<hr>
				<div class="container">
					<div class="row">
						<div class="col-6">
							<div>
								<h5>
									<strong>모집요약</strong>
								</h5>
								<br>
								<table id="hireTable" style="border-top: none">
									<tr>
										<td>
											<p>
												<strong>경력조건 &nbsp; |&nbsp;</strong>
											</p>
										</td>
										<td>
											<p th:text="${hireDetail.hireVo.hire_condition}"></p>
										</td>
									</tr>

									<tr>
										<td>
											<p>
												<strong>학력</strong>
											</p>
										</td>
										<td>
											<p th:text="${hireDetail.hireVo.hire_educate}"></p>
										</td>
									</tr>

									<tr>
										<td>
											<p>
												<strong>고용형태</strong>
											</p>
										</td>
										<td>
											<p th:text="${hireDetail.hireVo.hire_state}"></p>
										</td>
									</tr>

									<tr>
										<td>
											<p>
												<strong>급여</strong>
											</p>
										</td>
										<td>
											<p th:text="${hireDetail.hireVo.hire_salary}"></p>
										</td>
									</tr>

									<tr>
										<td>
											<p>
												<strong>근무시간</strong>
											</p>
										</td>
										<td>
											<p th:text="${hireDetail.hireVo.hire_workTime}"></p>
										</td>
									</tr>

									<tr>
										<td>
											<p>
												<strong>직급</strong>
											</p>
										</td>
										<td>
											<p th:text="${hireDetail.hireVo.hire_rank}"></p>
										</td>
									</tr>
								</table>

							</div>
						</div>

						<div class="col-6">
							<div>
								<h5>
									<strong>기업</strong>
								</h5>
								<br>
								<table id="hireTable" style="border-top: none">
									<tr>
										<td>
											<p>
												<strong>회사 &nbsp; |&nbsp;</strong>
											</p>
										</td>
										<td>
											<p th:text="${hireDetail.hireVo.company_name}"></p>
										</td>
									</tr>

									<tr>
										<td>
											<p>
												<strong>사원수</strong>
											</p>
										</td>
										<td>
											<p th:text="${hireDetail.hireVo.company_people}"></p>
										</td>
									</tr>

									<tr>
										<td>
											<p>
												<strong>자본금</strong>
											</p>
										</td>
										<td>
											<p th:text="${hireDetail.hireVo.company_money}"></p>
										</td>
									</tr>

									<tr>
										<td>
											<p>
												<strong>홈페이지</strong>
											</p>
										</td>
										<td>
											<p th:text="${hireDetail.hireVo.company_homepage}"></p>
										</td>
									</tr>
								</table>
							</div>
						</div>

					</div>
				</div>

				<br>
				<hr>
				<div>
				 <h5><strong>모집분야</strong> </h5>
				 <br>
				 <table  th:each="info,index  :${hireDetail.hireInfoVoList}">
				 <p th:text="${index.index+1}" id="numbering"></p>
				   <tr>
				     <td><p><strong>모집분야</strong></p></td>
				     <td><p th:text="${info.hire_info_sector}"></p></td>
				   </tr>
				   <tr>
				     <td><p><strong>모집인원</strong></p></td>
				     <td><p th:text="${info.hire_info_count}"></p></td>
				   </tr>
				   <tr>
				     <td><p><strong>직무내용</strong></p></td>
				     <td><p th:text="${info.hire_info_content}"></p></td>
				   </tr>
				   <tr>
				     <td><p><strong>우대사항</strong></p></td>
				     <td><p th:text="${info.hire_info_want}"></p></td>
				   </tr>
				 </table>
				</div>
				<br>
				<hr>

				<!-- 회사 위치 -->
				<div>
				  <h5><strong>회사위치</strong></h5>
				  <p><strong th:text="${hireDetail.hireVo.company_address1}" id="location"></strong></p>
				  
				  <br>
				 <div id="map" style="width:500px;height:400px;border-radius:25px">
				 </div>
				</div>
				
				<br>
				<hr>
				
				<!-- 채용 접수방법 -->
				<div>
				<h5><strong>접수방법</strong> </h5>
				 <br>
				 <table>
				   <tr>
				     <td><p><strong>담당자</strong></p></td>
				     <td><p th:text="${hireDetail.hireApplyVo.hire_apply_charge}"></p></td>
				   </tr>
				   <tr>
				     <td><p><strong>부서명</strong></p></td>
				     <td><p th:text="${hireDetail.hireApplyVo.hire_apply_department}"></p></td>
				   </tr>
				   <tr>
				     <td><p><strong>담당자 연락처</strong></p></td>
				     <td><p th:text="${hireDetail.hireApplyVo.hire_apply_phone}"></p></td>
				   </tr>
				   <tr>
				     <td><p><strong>접수기간</strong></p></td>
				     <td><p th:text="${hireDetail.hireApplyVo.hire_apply_time}"></p></td>
				   </tr>
				   
				   <tr>
				     <td><p><strong>접수방법</strong></p></td>
				     <td><p th:text="${hireDetail.hireApplyVo.hire_apply_way}"></p></td>
				   </tr>
				   
				   <tr>
				     <td><p><strong>1:1화상면접 여부</strong></p></td>
				     <td><p th:text="${hireDetail.hireApplyVo.hire_apply_p2p}"></p></td>
				   </tr>
				 </table>
				
				</div>
				<br><br><br>

			</div>
			<!-- 오른쪽 사이드 -->
			<div class="col-3" >
				<br>
				<div class="hiredetialBox" >
				<div>
					<img th:if="${hireDetail.hireVo.company_logo !=null}"
						th:src="|/companyLogo/${hireDetail.hireVo.company_logo}" style="width:150px">
					<p style="color: gray">지원자 : <span th:text="${applyTotal}"></span></p>
					<div>
						<button type="button" class="btn btn-outline-primary btn-block"
							style="border-radius: 25px">
							<i class='fas fa-splotch'></i>스크랩</button>
						
						<button th:if="${checkApply > 0}" type="button" class="btn btn-primary btn-block" 
							style="border-radius: 25px">지원완료!!</button>
						
						<button th:if="${checkApply == 0}" type="button" class="btn btn-primary btn-block" 
						th:onclick="'javascript:applyCompany(\''+ ${hireDetail.hireVo.hire_id} +'\');'"
							style="border-radius: 25px">지원하기</button>
					</div>
				</div>
				<hr>
				
				<div id="resumeList">
				</div>	
					
				</div>
				
				
				
				
			</div>
		</div>
	</div>


</body>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=40bf6136effeb2e943a06ed5472ebf2e&libraries=services"></script>
<script>

		var userSessionCheck = document.getElementById("userSessionCheck").value;
		var ps = new kakao.maps.services.Places();
		var keyword =$("#location").text();
		ps.keywordSearch(keyword, placesSearchCB);
		var infowindow = new kakao.maps.InfoWindow({zIndex:1});
		
		//지도 생성
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};
		var map = new kakao.maps.Map(container, options);
		
		
		function placesSearchCB (data, status, pagination) {
		    if (status === kakao.maps.services.Status.OK) {

		        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
		        // LatLngBounds 객체에 좌표를 추가합니다
		        var bounds = new kakao.maps.LatLngBounds();

		        for (var i=0; i<data.length; i++) {
		            displayMarker(data[i]);    
		            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
		        }       

		        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
		        map.setBounds(bounds);
		    } 
		}
		
		// 지도에 마커를 표시하는 함수입니다
		function displayMarker(place) {
		    
		    // 마커를 생성하고 지도에 표시합니다
		    var marker = new kakao.maps.Marker({
		        map: map,
		        position: new kakao.maps.LatLng(place.y, place.x) 
		    });

		    // 마커에 클릭이벤트를 등록합니다
		    kakao.maps.event.addListener(marker, 'click', function() {
		        // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
		        infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
		        infowindow.open(map, marker);
		    });
		}
		
		
		
		
		
		function applyCompany(hire_id){ //지원양식 노출
			
			//header에 세팅한 값을 참조하여 검사진행
			if(userSessionCheck==null||userSessionCheck=='empty'){
				alert("로그인 후 이용가능합니다.");
				return;
			}
			
			 $.ajax({
		            type: "post",
		            url: "/checkResumeList.do",
		           dataType: "json",
				     success: function( data, status , xhr ){
						var resumeList =$("#resumeList");
						var tag ="<form name='applyForm' id='applyForm' method='post' action='/insertApply.do'>";
						tag += "<p>나의 이력서 리스트</p>";
						for(var i in data){
							tag += "<div class='form-check'>";
							tag += "<input class='form-check-input' type='radio' name='resume_id'  value='"+data[i].resume_id+"'>";
							tag += "<label class='form-check-label' for='gridRadios2'>";
							tag += data[i].resume_title;
							tag += "</label>"; 
							tag += "</div>";
						}
						tag += "<br>";
						tag += "<button type='button' class='btn btn-outline-primary btn-block' onclick='insertApply("+hire_id+")'";
						tag += "style='border-radius: 25px'>";
						tag += "지원</button>";
						tag +="</form>";
						
						resumeList.html(tag);
		            },
		            error:function(xhr, status, error){
		                console.log(error);
		            }
		        });

		}
		
		function insertApply(hire_id){
			
			var resume_id =$("input[name=resume_id]:checked").val();
			
			if(resume_id==undefined || resume_id==null){
				alert("이력서를 선택해 주세요");
				return;
			}
			
			if(!window.confirm("이 회사에 지원하시겠습니까?")){
				return;
			}
			
			 $.ajax({
				            type: "post",
							data:{
								resume_id:resume_id,
								hire_id:hire_id
								},
				            url: "/insertApply.do",
				           dataType: "text",
						     success: function( data, status , xhr ){
								if(data=='success'){
									alert("지원 완료되었습니다.")
									
								}else{
									alert("다시 체크 부탁드립니다.")
								}
				            },
				            error:function(xhr, status, error){
				                console.log(error);
				            }
				        });
			
		}
		
		
		
	</script>
	
	
</html>