<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>

<!-- 해더 css -->
<th:block th:replace="common/header :: headerCss"></th:block>

<style>


</style>

<meta charset="UTF-8">
<title>회사 페이지</title>
</head>
<body>
<!-- 해더 공통 -->
<th:block th:replace="common/header :: header"></th:block>
<br>
<br>
<br>

<div class="container">
  <div align="center">
  <h5><strong>채용정보</strong></h5>
  <br>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">지원자격</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>경력</td>
      <td colspan="2"><input type="text" class="form-control" id="usr"></td>
    </tr>
    <tr>
      <td>학력</td>
     <td colspan="2"></td>
    </tr>
    <tr>
      <td>우대</td>
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>
  </div>
</div>

</body>
</html>