<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>

<!-- 해더 css -->
<th:block th:replace="common/header :: headerCss"></th:block>


<style>

.oneRedordArea{
border-style: solid;
border-bottom-width: 1px; 
border-left-width: 1px;
border-right-width: 1px;
border-top-width: 1px;
 border-color: #007bff;
padding: 5%; 
border-radius: 25px
}

</style>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- 해더 공통 -->
<th:block th:replace="common/header :: header"></th:block>


<hr>
 <br>
 <br><br>
 
 
 <div class="container">
  <div class="row">
  
    <!-- 사이드바 -->
    <div class="col-2">
       <th:block th:replace="common/side :: side"></th:block>
    </div>
    
    <div class="col-10">
	       <div>
	         <h4 align="center"><strong>1분영상 등록</strong></h4>
	       </div>
	       
	        <div class="oneRedordArea" align="center">
	           
	           <div align="center">
	            <video id="gum" playsinline autoplay muted></video>
	           </div>
	           <div align="center">
			    <video id="recorded" playsinline loop></video>
	           </div>
			    <div align="center">
			        <button class="btn btn-primary btn-sm" id="start">카메라 연결</button>
			        <button class="btn btn-success btn-sm" id="record" disabled>촬영시작</button>
			        <button class="btn btn-info btn-sm" id="play" disabled>재생</button>
			        <button class="btn btn-info btn-sm"id="download" disabled>다운로드</button>
			    </div>
			
		    <div style="display:none">
		        <input type="checkbox" id="echoCancellation" checked="checked">
		    </div>
		  </div>
		  
		  <br>
		    <div class="oneRedordArea" align="center">
		    <h5 align="center"><strong>동영상 업로드</strong></h5>
		      <form id="uploadOneIntro" name="uploadOneIntro" enctype="multipart/form-data">
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text">동영상 업로드</span>
					  </div>
					  <div class="custom-file">
					    <input type="file" class="custom-file-input" name="mediaIntro" >
					    <label class="custom-file-label">Choose file</label>
					  </div>
					</div>
		      </form>
		       <button class="btn btn-primary btn-sm" onclick="inertOneIntro()">업로드</button>
		    </div>
    </div>

 </div>
</div>

</body>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
 <script src="/customJS/main.js"></script>

<script>


function inertOneIntro(){
	//event.preventDefault();
	
	var mediaFile= $("input[name=mediaIntro]");
	
	if(mediaFile.val()==null|| mediaFile.val()==""){
		alert("파일을 선택해 주세요");
		return;
	}
	
	if(!window.confirm("영상을 등록하시겠습니까?")){
		return;
	}
	
	var form = $('#uploadOneIntro')[0];
	var data = new FormData(form);
	 
	$.ajax({
        type: "POST",
        enctype: 'multipart/form-data',
        url: "/uploadOneIntro.do",
        data: data,
        processData: false,
        contentType: false,
        cache: false,
        timeout: 600000,
        success: function (data) {
        	if(data=='success'){
        		alert("업로드 되었습니다.");
        		location.reload();
        	}
        },
        error: function (e) {
            console.log("ERROR : ", e);
        }
    });


}
	
</script>
</html>
