<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>


<!-- 해더 css -->
<th:block th:replace="common/header :: headerCss"></th:block>

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<meta charset="UTF-8">

<style>
#mainTopImage {
	background-image: url('/image/mainImage.jpg');
	background-repeat: no-repeat;
	/* opacity:0.4; */
	background-size: cover;
	height:300px;
}


</style>


<title>메인창</title>
</head>
<body>

<!-- 해더 공통 -->
<th:block th:replace="common/header :: header"></th:block>

<div class="container" id="mainTopImage"  >
  <div class="row">
    <div align="center">
          <h2 style="color:white"><strong>share your Telent</strong></h2>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>


<div class="container">
   <h3><strong>구직 게시판</strong></h3>
   <br>
  <div class="row" >
     <div class="col">
     
     
     <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
    
       <div class="swiper-slide" th:each="info : ${sickJobList}">
      <div class="card" style="width: 18rem;">
		  <img th:if="${info.resume_profile!=null}" class="card-img-top" th:src="|/user/${info.resume_profile}" alt="Card image cap">
		  <img th:if="${info.resume_profile==''||info.resume_profile==null}" class="card-img-top" src="/image/person.png" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text" th:text="${info.resume_title}"></p>
		  </div>
		</div>
      </div>
    
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
	
	
    </div>
  </div>
</div>



</body>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>

/* window.onload = function(){
	 var header=document.getElementById("homeHeader");
	 header.setAttribute("class","active");
} */

var swiper = new Swiper('.swiper-container', {
    slidesPerView: 3,
    spaceBetween: 30,
    slidesPerGroup: 3,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>


</html>