<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>


<!-- 해더 css -->
<th:block th:replace="common/header :: headerCss"></th:block>

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<meta charset="UTF-8">

<style>
#mainTopImage {
	background-image: url('/image/mainImage.jpg');
	background-repeat: no-repeat;
	/* opacity:0.4; */
	background-size: cover;
	height:300px;
}

div p h {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  height: 20px;
}
</style>


<title>메인창</title>
</head>
<body>

<!-- 해더 공통 -->
<th:block th:replace="common/header :: header"></th:block>

<br>
<div class="container">
  <div class="row">
       <div class="input-group" style="width:100%">
		  <input type="text" name="search" class="form-control" placeholder="기업,채용정보"  style="width:90%;border-color:#4e61ff">
		  <button class="btn btn-primary">검색 </button>
	</div>
	</div>
</div>


<hr>
<br>
<br>
<div class="container" id="mainTopImage"  >
  <div class="row">
    <div align="center">
          <h2 style="color:white"><strong>share your Telent</strong></h2>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>

<hr style="width:50%">
<br><br>


<div class="container">
   <h5><strong>기업</strong></h5>
   <p align="right">더보기</p>
   <br>
  <div class="row" >
     <div class="col">
     
     <!-- Swiper -->
  <div class="swiper-container companies">
    <div class="swiper-wrapper">
    
       <div class="swiper-slide" th:each="info : ${hireList}">
       
       <img class="card-img-top" th:src="|/companyLogo/${info.company_logo}" alt="Card image cap" style="width:150px;">
      <div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <p><strong class="card-text" th:text="${info.company_name}" style="color:blue"></strong></p>
		    
			    <div>
			     <p><a th:href="@{/hireDetails.do(hire_id=${info.hire_id})}"><strong class="card-text" th:text="${info.hire_title}"></strong></a></p>
				    <p>
				    
				    <span th:if="${info.hire_state=='정규'}">정규직</span>
				    <span th:if="${info.hire_state=='비정규'}">비규직</span>
				    <span th:if="${info.hire_state=='상규'}">상규직</span>
				    &nbsp;&nbsp;
				     <span th:text="${info.hire_salary}"></span></p>
			    </div>
		  </div>
		</div>
		
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
  </div>
    </div>
  </div>
</div>

<br><br>
<hr style="width:50%">
<br><br>




<div class="container">
   <h5><strong>서울시 일자리</strong></h5>
   <p align="right">더보기</p>
   <br>
   <br>
  <div class="row" >
     <div class="col">
     <!-- Swiper -->
  <div class="swiper-container seoulJob">
    <div class="swiper-wrapper">
    
       <div class="swiper-slide" th:each="info : ${seoulJobList}">
       
       
       <div>
           
		  <div >
		    <h6 class="card-title" ><strong th:text="${info.CMPNY_NM}" ></strong></h6>
		    <br>
		    <p class="card-subtitle mb-2 text-muted" th:text="${info.BSNS_SUMRY_CN}" > </p>
		    <br>
		    <div class="card-text">
		        <p th:if="${info.EMPLYM_STLE_CMMN_CODE_SE=='J01102'}">계약직  </p>
		        <p th:if="${info.EMPLYM_STLE_CMMN_CODE_SE=='J01103'}">계약직 (시간제) </p>
		        <p th:if="${info.EMPLYM_STLE_CMMN_CODE_SE=='J01105'}">상용직 (시간제) </p>
		        <p th:if="${info.EMPLYM_STLE_CMMN_CODE_SE=='J01101'}">상용직  </p>
		       
				<p th:if="${info.CAREER_CND_CMMN_CODE_SE=='J01301'}">경력 :신입</p>
				<p th:if="${info.CAREER_CND_CMMN_CODE_SE=='J01302'}">경력 :경력</p>
				<p th:if="${info.CAREER_CND_CMMN_CODE_SE=='J01300'}">경력 :무관</p>
		    </div>
		  </div>
		</div>
       <!-- <img class="card-img-top" src="/image/innospeechLogo.png" alt="Card image cap" style="width:150px;"> -->
   
		
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
  </div>
    </div>
  </div>
</div>

<br><br>
<hr style="width:50%">
<br><br>





<div class="container">
   <h5><strong>최신 구직</strong></h5>
   <p align="right">더보기</p>
   <br>
  <div class="row" >
     <div class="col">
     
     
     <!-- Swiper -->
  <div class="swiper-container getJob">
    <div class="swiper-wrapper">
    
       <div class="swiper-slide" th:each="info : ${sickJobList}">
		<div class="card" style="width: 18rem;">
		  <img th:if="${info.resume_profile!=null}" class="card-img-top" th:src="|/user/${info.resume_profile}" style="width:150px;border-radius: 70%">
		  <img th:if="${info.resume_profile==''||info.resume_profile==null}" class="card-img-top" src="/image/person.png" style="width:150px;border-radius: 70%">
		  <div class="card-body">
		    <p><strong class="card-text" th:text="${info.resume_title}"></strong></p>
		    <a href="#" class="btn btn-primary">이력서 보기</a>
		  </div>
		</div>
      </div>
    
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
  <!--   <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
  </div>
    </div>
  </div>
</div>



</body>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>

/* window.onload = function(){
	 var header=document.getElementById("homeHeader");
	 header.setAttribute("class","active");
} */



//기업 리스트
 var swiper = new Swiper('.companies', {
    slidesPerView: 3,
    slidesPerColumn:1,
    spaceBetween: 30,
    slidesPerGroup: 3,
    loopFillGroupWithBlank: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      /* nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev', */
    },
  }); 


//서울시 일자리
var swiper = new Swiper('.seoulJob', {
   slidesPerView: 4,
   slidesPerColumn:1,
   spaceBetween: 30,
   slidesPerGroup: 3,
   loopFillGroupWithBlank: true,
   pagination: {
     el: '.swiper-pagination',
     clickable: true,
   },
   navigation: {
     /* nextEl: '.swiper-button-next',
     prevEl: '.swiper-button-prev', */
   },
 }); 


//구직 리스트
var swiper = new Swiper('.getJob', {
    slidesPerView: 2,
    slidesPerColumn: 1,
    spaceBetween: 30,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
  });
  
  
const constraints = {
	    'video': true,
	    'audio': true
	}
	navigator.mediaDevices.getUserMedia(constraints)
	    .then(stream => {
	        console.log('Got MediaStream:', stream);
	    })
	    .catch(error => {
	        console.error('Error accessing media devices.', error);
	    });
</script>


</html>


