<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>

<!-- 해더 css -->
<th:block th:replace="common/header :: headerCss"></th:block>
<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>

<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>

<!-- 해더 공통 -->
<th:block th:replace="common/header :: header"></th:block>


<div class="container" align="center">
  <h3><strong>일반 회원가입</strong></h3>
  <div class="row" style="background-color:white;border-radius:25px;width:50%">
    <div  class="col" style="width:50%;padding-top: 12%;padding-bottom: 12%">
	
	 <form name="joinForm" id="joinForm" enctype="multipart/form-data">
	  <div class="form-group" align="left">
	  <label><strong>아이디 생성</strong></label>
	    <input type="text" id="idInput" class="form-control"  placeholder="your ID" name="user_id">
	    <small id="idBox" class="form-text text-muted"></small>
	    <button class="btn btn-primary" onclick="checkDup(event)">중복검사</button>
	  </div>
	  
	  <div class="form-group" align="left">
	  <label><strong>비밀번호</strong></label>
	    <input type="password" id="PasswordInput" class="form-control" placeholder="Password" name="user_password">
	  </div>
	  
	  <div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text">프로필 이미지</span>
		  </div>
		  <div class="custom-file">
		    <input type="file" class="custom-file-input" onchange="setPreview(event)" name="file">
		    <label class="custom-file-label" for="inputGroupFile01">이미지 파일</label>
		  </div>
		</div>
	  <!-- 이미지 프리뷰 -->
		<div  id="userProfile">
		</div>
	  <div class="form-group" align="left">
	  <label><strong>이름</strong></label>
	    <input type="text" class="form-control" placeholder="ex:홍길동" name="user_name">
	  </div>
	  
	  <div class="form-group" align="left">
	  <label><strong>이메일</strong></label>
	    <input type="text"  class="form-control" placeholder="ex:text@gmail.com" name="user_email">
	  </div>
	  
	  <div class="form-group" align="left">
	  <label><strong>전화번호</strong></label>
	    <input type="text"  class="form-control" placeholder="ex:01022229999" name="user_phone">
	  </div>
	  
	  <div class="form-group" align="left">
	  <label><strong>나이</strong></label>
	    <input type="text"  class="form-control" placeholder="ex:30" name="user_age">
	  </div>
	  
	  <div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <label class="input-group-text" for="inputGroupSelect01">성별</label>
		  </div>
		  <select class="custom-select" id="inputGroupSelect01" name="user_gender">
		    <option selected>선택</option>
		    <option value="M">남자</option>
		    <option value="W">여자</option>
		  </select>
		</div>
		
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">우편번호</span>
		  </div>
		  <input type="text" class="form-control" placeholder="" aria-label="" onclick="openZipSearch()" aria-describedby="basic-addon1" name="user_zip" >
		</div>
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">주소</span>
		  </div>
		  <input type="text" class="form-control" placeholder="" aria-label="" onclick="openZipSearch()" aria-describedby="basic-addon1" name="user_address1" readonly="readonly">
		</div>
		
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">상세주소</span>
		  </div>
		  <input type="text" class="form-control" placeholder="ex:102동 1602호" aria-label="" aria-describedby="basic-addon1" name="user_address2">
		</div>
	  
	  <!-- 일반 유저 -->
	  <input type="hidden" name="autho" value="USER">   
  <br>
</form>
  <button type="submit" class="btn btn-success btn-block" onclick="join()" style="width:100%">회원가입</button>
	</div>
  </div>
</div>



</body>

<script>

window.onload = function(){
	 document.getElementById("joinHeader").setAttribute("class","active");
}

function join(){
	
	var form = document.joinForm;
	
	if(form.user_id.value==null){
		alert("아이디 입력은 필수 입니다.");
	}else if(form.user_password.value==null){
		alert("비밀번호 입력은 필수 입니다.");
	}else if(form.user_name.value==null){
		alert("이름 입력은 필수 입니다.");
	}else if(form.user_email.value=null){
		alert("이메일 입력은 필수 입니다.");
	}else if(form.file.value==null){
		alert("프로필 이미지는 필수 입니다.");
	}
	
    var form2 = $('#joinForm')[0];
    var data = new FormData(form2);
	
	    $.ajax({
	        url: '/userJoin.do',
			type:"post",
	 		enctype: 'multipart/form-data',
	        data: data,
		    processData: false,
		    contentType: false,
		    cache: false,
		    timeout: 600000,
	        success: function (data) {
		          if(data=='success'){
		        	  alert("회원가입을 축하 드립니다");
		        	  location.href="/loginForm.do";
		          }else if(data=='already'){
		        	  alert("아이디가 이미 존재합니다.");
		          }
	        }
	    });

}


//아이디 중복체크 
function checkDup(event){
	event.preventDefault();
	
	var idBox = document.getElementById("idBox");
	var idInput =document.getElementById("idInput");
	
	var user_id = document.joinForm.user_id.value;
	    $.ajax({
		        url: '/checkId.do',
		        type: 'POST',
		        data:{user_id:user_id},
		        contentType: 'application/x-www-form-urlencoded; charset=UTF-8', 
		        dataType: 'text',
		        success: function (data) {
					
					if(data=='already'){
						idInput.style.borderColor="red";
						idBox.style.color="red";
						idBox.innerHTML ="이미 존재하는 아이디입니다.";
					}else if(data=='able'){
						idInput.style.borderColor="blue";
						idBox.style.color="blue";
						idBox.innerHTML ="사용 가능합니다.";
					}
		        }
		    });
}



function setPreview(event){
	
	var input= document.querySelector("div#userProfile");
	$("#userProfile").empty();
	
    for(var image of event.target.files) {
        var reader = new FileReader();

        reader.onload = function (event) {
            var img = document.createElement("img");// 이미지 tag를 생성하는 과정
            img.setAttribute("src", event.target.result);
            img.style.width="150px";
            img.style.height="150px";
            input.appendChild(img);
        };
        reader.readAsDataURL(image);
    }
}

function openZipSearch() {
	new daum.Postcode({
		oncomplete: function(data) {
			$('[name=user_zip]').val(data.zonecode); // 우편번호 (5자리)
			$('[name=user_address1]').val(data.address);
			$('[name=user_address2]').val(data.buildingName);
		}
	}).open();
}

</script>
</html>